.main-box {
    width: 70%;
    height: 100%;
    margin: 20px;
}

.title-department {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.line {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.table-content {
    width: 100%;
    margin-top: 5px;
    /*background-color: #c5c251;*/
    height: 500px;
}

.input-out-mtk-edit {
    margin: 20px auto;
    width: 350px;
    text-align: center;
}

.input-in {
    width: 200px!important;
}